<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button  id="start" class="btn btn-default" type="submit"><a href="/new">Add Beers Tasted</a></button>
<button  id="start" class="btn btn-default" type="submit"><a href="/beerTasted">View Beers Tasted</a></button>
